$table-text-color: #171c26;
.data-table {
    border-collapse: collapse;
    position: relative;
    top: 1px;
    height: 100%;
    width: 100%;
    thead {
        display: block;
        background-color: #f7f9fccc;
    }
    tbody {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 22rem);
    }
    .header-row {
        background-color: #f7f9fccc;
    }
    th,
    td {
        text-align: left;
        padding: 1.4rem 1rem;
        margin: 0 0.5rem;
        border: 0;
    }
    tr {
        position: relative;
    }
    tr::after {
        content: "";
        position: absolute;
        left: 0;
        top: -1px;
        width: 100vw;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.06);
    }
    th {
        text-transform: uppercase;
        background-color: #f7f9fccc;
        font-family: $font-inter;
        font-weight: 500;
        font-size: 12px !important;
        line-height: 22px !important;
        color: $main-text;
        img {
            margin-left: 2px;
            position: relative;
            top: 1px;
        }
    }
    td {
        font-family: $font-inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    .checkbox-wrapper {
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flag {
        width: 3rem;
        text-align: center;
    }
    .hospital {
        font-family: $font-inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        min-width: 180px;
        border: 0;
    }
    .sort-btn {
        padding: 0;
        font-family: $font-inter;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        background-color: #f7f9fccc;
        color: $main-text;
        border: 0;
        cursor: pointer;
        img {
            position: relative;
            top: 2px;
        }
    }
    .status-wrapper {
        position: relative;
    }
    .status {
        cursor: pointer;
        border: 0;
        min-width: 80px;
        text-align: center;
        padding: 0;
    }
    .on-track,
    .on-hold {
        position: relative;
        font-family: $font-inter;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        padding: 1px 8px 1px 18px;
    }
    .on-track {
        background: #e1fcef;
        color: #14804a;
    }
    .on-hold {
        background: #e9edf5;
        color: #5a6376;
    }
    .on-track::after,
    .on-hold::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 2px;
        left: 8px;
        top: 7px;
        background: #38a06c;
    }
    .on-hold::after {
        background: #5a6376;
    }
    .year {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        > div,
        > div > button {
            margin: 0 auto;
            display: inline-block;
            font-family: $font-inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $main-text;
            padding: 2px 7px;
            background: #e9edf5;
            border-radius: 4px;
        }
        .add-new-data-btn-wrapper > button {
            border: 1px dashed #807cea !important;
            outline: none;
            padding: 2px 5px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
            cursor: pointer;
            padding-bottom: 4px;
        }
    }
    .update {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-inter;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $main-text;
        img {
            margin-right: 2px;
            position: relative;
            top: 2px;
        }
    }
    .share {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 140px;
        text-align: center;
        div {
            margin-right: 1rem;
            display: inline-block;
            position: relative;
            width: 67px;
            height: 8px;
            background: #f9f5ff;
            border-radius: 4px;
        }
        .fill {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
            background: $purple-text;
        }
    }
    .score {
        text-align: center;
        span {
            font-family: $font-inter;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #14804a;
            background: #e1fcef;
            padding: 1px 8px;
            border-radius: 4px;
        }
    }
    .cost {
        min-width: 100px;
        text-align: center;
        font-family: $font-inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $table-text-color;
    }
    .cagr {
        font-family: $font-inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .positive {
        color: #14804a;
    }
    .negative {
        color: #ef5466;
    }
}

.item-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #272833;
    font-family: $font-inter;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: -11px;
        left: 9px;
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border: 1px solid #cdced9;
        border-radius: 2px;
    }
}

/* On mouse-over, add a grey background color */
.item-checkbox:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.item-checkbox input:checked ~ .checkmark {
    background-color: $purple-text;
    border-color: $purple-text;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.item-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.item-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-new-data-btn-wrapper {
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.flag-btn-wrapper {
    position: relative;
    > button {
        padding: 0;
        border: 0;
        cursor: pointer;
        margin: 0;
        background-color: transparent;
        > span {
            display: flex;
            padding: 4px;
            justify-content: center;
            align-items: center;
            color: $purple-text;
            font-family: $font-inter;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 16px;
            background: #ededfc;
            border: 1px solid rgba(210, 213, 220, 0.5);
            border-radius: 6px;
            display: inline-block;
        }
    }
}
