.hospital-wrapper{
    .unit{
        min-width: 120px !important;
        text-align: center !important;
    }
    .name{
        min-width: 240px;
    }
    .name-header{
        min-width: 292px;

    }
    .share{
        margin-left: 2.5rem;
    }
}